*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*CONTENEDOR GENERAL BUSQUEDA CLIENTE*/
.container{
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

/*Seccion input del cliente */
.inputCliente{
  align-content: center;
  min-width: 50%;
  min-height: 100vh;
  padding: 9%;
}



/*Diseño cuadro input cliente*/
.cuadro-input{
  display: grid;
  padding: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid #171576;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*Texto cuadro input*/
.titulocontainer{
  font-weight: 700;
  color: #171576;
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
}

/*Diseño de input de email cliente */
.input{
  color: #464646;
  font-size: 17px;
  background-color: #ebebf5;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 30px;
  
}

.btn{
  border-radius: 10px;
  background-color: #128cf0;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 7px;
}

.btn:hover{
  border-radius: 15px;
  background-color: #0e67af;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 7px;
}

.link-estilo{
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}
.link-estilo:hover{
  text-decoration: none;
}


/*Seccion logo Mercado Libre y frase */
.logo-frase{
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  min-width: auto;
  min-height: 100vh;
  background-color: #fcdd2c;
  
}

.logo{
  text-align: center;
  display: flex;
  width: 450px;
  padding-bottom: 5%;
  margin-left: 200%;
}

.frase-principal{
  font-size: 40px;
  padding: 20px;
  margin: 20px;
}