.contenedor{
align-items: center;
text-align: center;
margin: 0;
padding: 30px;
background-color: rgb(255, 255, 255);
display: flex;

}

.img-principal-producto{
width: 70%;
border: 2px solid #171576;
border-radius: 5%
}

.img-principal-producto-01{
width: 80%;
border: 2px solid #171576;
border-radius: 5%

}

.card-info-producto{
background-color: #e2e2e2;
text-align: center;
padding: 30px;
margin-left: 100px;
width: 2200px;
border-radius: 20px;
border: 2px solid #171576;
}
.card-info-producto:hover{
background-color: #fcdd2c;
}

.card-info-producto>h1{
padding-top: 15px;
font-size: 20px;

}

.card-info-producto>h2{
display: flex;
justify-content:center;
text-align:justify;
font-size: 14px;
margin-top: 15px


}

.card-imgen-destacada{
margin: 80px
}

.producto-destacado{
margin-left: -20;
font-weight: 600;
}

.barra-boton{
background-color: #fcdd2c;
text-align: center;
padding: 15px;

}

.boton-listado-clientes-02{

background-color: #128cf0;

}

.boton-listado-clientes-02:hover{
background-color: #0e67af;
}