.contenedor-general{
align-items: center;
text-align: center;
margin: 0;
padding: 30px;
background-color: rgb(255, 255, 255);
display: flex;
}
.contenedor-info{
padding-top: 70px;
padding: 100px;
 height: 100%;
 background-color: #fcdd2c;

}
.info-cliente{
border-radius: 15px;
padding: 10px;
margin: 10px;
margin-left: 15px;
}
.img-seccion{
background-color: rgb(255, 255, 255);
min-width: 50%;
align-content: center;
text-align: center;
}

.image-cliente{
width: 400px;
border-radius: 8%;
border: 1px solid #171576;
}

.boton-listado-clientes{
justify-content: center;
margin-top: 20px;
margin-left: 9px;
padding-left: 20px;
padding-right: 10px;
border-radius: 30px;
background-color:#128cf0;
}

.boton-listado-clientes:hover{
background-color:#0e67af;
}





