
/*DISEÑO CARD CLIENTE - HISTORIAL DE COMPRA*/
.historial-productos-cliente{
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 05px;
  margin: 05px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid#171576;

}

.historial-productos-cliente:hover{
  border: 0px solid#171576;
}

.ima-producto{
  width: 80px;
  border-radius: 80px;
  
  border: 1px solid#171576;
}

.info-producto-historial{
  font-size: 10px;
  margin-left: 20px;
  font-weight: 10;
}
